// Theme SCSS Variables

// Theme Brand Colors
$color-primary: #121212;
$color-accent: #334fb4;
$color-background: #ffffff;
$color-text: #2f2f2f;

// Typography
$font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

// Responsive Breakpoints
$breakpoint-mobile: 750px;
$breakpoint-tablet: 990px;
